{% extends 'app1/base.html' %}

{% block title %}
Search_Results
{% endblock title %}


{% block content %}

{% if searched %}
    {% if found %}
        {% if parties %}
            <ul class="list-group">
                {% for partie in parties %}
                <li class="list-group-item"><a href = "details/{{ partie.pk }}">{{ partie }} </a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if chapitres %}
            <ul class="list-group">
                {% for chapitre in chapitres %}
                <li class="list-group-item"><a href = "details/{{ chapitre.pk }}">{{ chapitre }} </a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if articles %}
            <ul class="list-group">
                {% for article in articles %}
                <li class="list-group-item"><a href = "details/{{ article.pk }}">{{ article }} </a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h2>Aucun résultat</h2>
    {% endif %}
{% else %}
    <h3>You didn't search for anything</h3>
{% endif %}


{% endblock content %}}
